<div class="row guest__box">
  <div class="twelve columns">
    <label>{{t 'add_guest.name.label'}}</label>
    {{input value=guest.name class="u-full-width" placeholder=(t 'add_guest.name.placeholder')}}
  </div>

  <div class="guest__remove" {{action "remove"}}>
    {{fa-icon 'times'}}
  </div>
</div>

<div class="row">
  <div class="twelve columns guest--checkbox">
    <label>{{t 'add_guest.trakei'}}</label>
    {{x-toggle
      value=guest.trakai
      showLabels=true
      onToggle=(mut guest.trakai)
      onLabel=(t 'toggle.yes')
      offLabel=(t 'toggle.no')
      size='large'
    }}
  </div>
</div>

<div class="row">
  <div class="six columns">
    <label>{{t 'add_guest.starter.label'}}</label>
    {{#power-select
          searchEnabled=false
          selected=chosenStarter
          class="u-full-width"
          placeholder=(t 'add_guest.starter.placeholder')
          options=starters
          onchange=(action "onStarterChanged")
          as |name|
        }}
      {{name}}
    {{/power-select}}
  </div>
  <div class="six columns">
    <label>{{t 'add_guest.main.label'}}</label>
    {{#power-select
          searchEnabled=false
          selected=chosenMain
          class="u-full-width"
          placeholder=(t 'add_guest.main.placeholder')
          options=mains
          onchange=(action "onMainChanged")
          as |name|
        }}
      {{name}}
    {{/power-select}}
  </div>
</div>
