<div class="row">
  <div class="six columns">
    <label>{{t 'invitee.name.label'}}</label>
    {{input value=invitee.name class="u-full-width" placeholder=(t 'invitee.name.placeholder')}}
  </div>

  <div class="six columns">
    <label>{{t 'invitee.email.label'}}</label>
    {{input value=invitee.email class="u-full-width" placeholder=(t 'invitee.email.placeholder') pattern='[^@\s]+@[^@\s]+' type='email' title='Please use a valid email address' required='true' }}
  </div>
</div>

<div class="row">
  <div class="twelve columns guest--checkbox">
    <label>{{t 'invitee.trakai'}}</label>
    {{x-toggle
      value=invitee.trakai
      showLabels=true
      onToggle=(mut invitee.trakai)
      onLabel=(t 'toggle.yes')
      offLabel=(t 'toggle.no')
      size='large'
    }}
  </div>
</div>

<div class="row">
  <div class="six columns">
    <label>{{t 'add_guest.starter.label'}}</label>
    {{#power-select
        searchEnabled=false
        selected=chosenStarter
        class="u-full-width"
        placeholder=(t 'add_guest.starter.placeholder')
        options=starters
        onchange=(action "onStarterChanged")
        as |name|
      }}
      {{name}}
    {{/power-select}}
  </div>
  <div class="six columns">
    <label>{{t 'add_guest.main.label'}}</label>
    {{#power-select
        searchEnabled=false
        selected=chosenMain
        class="u-full-width"
        placeholder=(t 'add_guest.main.placeholder')
        options=mains
        onchange=(action "onMainChanged")
        as |name|
      }}
      {{name}}
    {{/power-select}}
  </div>
</div>
