<div class="section hero">
  <span class="title">{{t 'main.title'}}</span>
  <div class="scroll-indicator fa fa-chevron-down"></div>
</div>

{{lang-select}}

<div class="section">
  <div class="container">
    <h3 class="section-heading">
      <span>{{t 'details.title'}}</span>
    </h3>

    <p class="section-description">{{t 'details.line1'}}</p>
    <p class="section-description">{{t 'details.line2'}}</p>
    <p class="section-description">{{t 'details.line3'}}</p>
    <p class="section-description">{{t 'details.line4'}}</p>

    <ul>
      <li>
        <p class="section-description"><b>2:00pm</b> {{t 'details.schedule1'}} <a href="https://goo.gl/maps/Acat7qNcB9N2">Vaidilos Teatras</a>. A.Jaksto g. 9, Vilnius; 2nd floor.</p>
      </li>
      <li>
        <p class="section-description"><b>3:00pm</b> {{t 'details.schedule2.part1'}} <a href="http://www.asklubas.lt/restaurant.html">Apvalaus stalo klubas</a> {{t 'details.schedule2.part2'}}</p>
      </li>
      <li>
        <p class="section-description"><b>5:30pm</b> {{t 'details.schedule3'}}</p>
      </li>
      <li>
        <p class="section-description"><b>6:30pm</b> {{t 'details.schedule4'}}</p>
      </li>
    </ul>
  </div>
</div>

<div class="section">
  <div class="container">
    <h3 class="section-heading">
      <span>{{t 'about.title'}}</span>
    </h3>

    <div class="row">
      <div class="one-half column category">
        <img class="u-max-full-height nipples-jump" src="/img/nipples.jpg" alt="brrrrrr sexy nips mate" onmouseover="this.src='/img/jump.jpg';" onmouseout="this.src='/img/nipples.jpg';">
      </div>
      <div class="one-half column category">
        <p class="section-description expand">{{t 'about.line1'}}</p>
        <p class="section-description expand">{{t 'about.line2'}}</p>
        <p class="section-description expand">{{t 'about.line3'}} <a href="mailto:hola@ignacioandvaiva.com">hola@ignacioandvaiva.com</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <h3 class="section-heading">
      <span>{{t 'rsvp.title'}}</span>
    </h3>

    <form class="form">
      {{one-invitee onInviteeChange='onInviteeChange' invitee=invitee}}

      <div id="guest-list">
        {{#each guests key="@index" as |guest|}}
          {{add-guest guest=guest onChange='onChange' removeGuest='removeGuest'}}
        {{/each}}

      </div>

      <div class="twelve columns guest__add" {{action 'addGuest'}}>
        {{t 'rsvp.add_guest_button'}}
      </div>

      <label for="exampleMessage">Anything you wanna tell us ?</label>
      {{textarea value=invitee.notes class="contact u-full-width" placeholder=(t 'rsvp.note_placeholder') id="exampleMessage" }}

      <div class="twelve columns guest__note">
        <b>{{t 'rsvp.note_gifts.title'}}:</b> {{t 'rsvp.note_gifts.text'}}
      </div>

      {{#if hasError}}
        <div class="twelve columns form-error">
          {{t 'rsvp.error_message'}}
        </div>
      {{/if}}

      <input class="button-primary rsvp {{if isSending 'sending' ''}}" type="submit" value={{if isSending 'Sending..' 'RSVP'}} {{action 'sendRSVP'}} disabled={{isSending}}>
    </form>
  </div>
</div>

<div class="section">
  <div class="container">
    <h3 class="section-heading">
      <span>{{t 'bye.title'}}</span>
    </h3>

    <p class="section-description centered">{{t 'bye.body'}}</p>
  </div>
</div>

<div class="section hero-end">
</div>
