<div class="new-header">
  <div class="new-header-slide">
    <h2 class="new-header-title">
      <span class="letter1">{{t 'seating.title'}}</span>
    </h2>
  </div>
  <div class="scroll-indicator fa fa-chevron-down"></div>
</div>

{{lang-select}}

<div class="section section-medium">
  <div class="container">
    <h3 class="section-heading">
      <span>{{t 'seating.first_title'}}</span>
    </h3>

    <p class="section-description">{{t 'seating.description'}}</p>
  </div>
</div>

<div class="seating-plan">


  <div class="table">
    <h2 class="table-name">
      <img src="/img/tables/Mar del Plata.png" alt="mar del plata's table">
      <span>Mar del Plata</span>
    </h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Andres.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.mdq.andres'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/German.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.mdq.german'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Ignacio.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.mdq.ignacio'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Linas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.mdq.linas'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Mociute.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.mdq.mociute'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Monika.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.mdq.monika'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Patricia.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.mdq.patricia'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Snieguole.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.mdq.snieguole'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Vaiva.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.mdq.vaivar'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Vytautas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.mdq.vytautas'}}
          {{/tooltip-on-element}}
        </div>
      </div>

    </div>
  </div>

  <div class="table">
    <h2 class="table-name">
      <img src="/img/tables/London.png" alt="london's table">
      <span>London</span>
    </h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/AgneJ.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.agnej'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/EmilijaK.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.emilijak'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/EmilijaZ.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.emilijaz'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Gaile.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.gaile'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Ieva.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.ieva'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Indre.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.indre'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Justina.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.justina'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Karolis.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.karolis'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Matt.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.matt'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Piero.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.piero'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/VaivaA.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.london.vaivaa'}}
          {{/tooltip-on-element}}
        </div>
      </div>

    </div>
  </div>

  <div class="table">
    <h2 class="table-name">
      <img src="/img/tables/Tandil.png" alt="tandil's table">
      <span>Tandil</span>
    </h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Aleksandra.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.tandil.aleksandra'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/JuanS.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.tandil.juans'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Lucho.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.tandil.lucho'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Ariel.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.tandil.ariel'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Ieva.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.tandil.ievau'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Ruslanas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.tandil.ruslanas'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/JuanR.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.tandil.juanr'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/VaivaS.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.tandil.vaivas'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Vaigirdas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.tandil.vaigirdas'}}
          {{/tooltip-on-element}}
        </div>
      </div>

    </div>
  </div>

  <div class="table">
    <h2 class="table-name">
      <img src="/img/tables/Amsterdam.png" alt="amsterdam's table">
      <span class="padded">Amsterdam</span>
    </h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/AgneK.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.agnek'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Auguste.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.auguste'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Daiva.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.daiva'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/gedas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.gedas'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/jolanta.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.jolanta'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Kristupas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.kristupas'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Luciana.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.luciana'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Lukas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.lukas'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Rolandas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.rolandas'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Saulius.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.saulius'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Tomas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.amsterdam.tomas'}}
          {{/tooltip-on-element}}
        </div>
      </div>

    </div>
  </div>

  <div class="table">
    <h2 class="table-name">
      <img src="/img/tables/Vilnius.png" alt="tandil's table">
      <span>Vilnius</span>
    </h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Darius.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.darius'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Kazimieras.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.kazimieras'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Kestutis.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.kestutis'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Laima.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.laima'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Mark.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.mark'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Raminta.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.raminta'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Romualdas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.romualdas'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Sandra.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.sandra'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Sonata.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.sonata'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Valdas.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.valdas'}}
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Viktorija.jpg)">
          {{#tooltip-on-element side='top'}}
            {{t 'seating.vilnius.viktorija'}}
          {{/tooltip-on-element}}
        </div>
      </div>

    </div>
  </div>

</div>

<div class="section section-medium">
  <div class="container">
    <h3 class="section-heading">
      <span>{{t 'seating.schedule.title'}}</span>
    </h3>

    <p class="section-description">{{t 'seating.schedule.body'}}</p>

    <ul>
      <li>
        <p class="section-description"><b>14:00</b> {{t 'details.schedule1'}} <a href="https://goo.gl/maps/Acat7qNcB9N2">Vaidilos Teatras</a>. A.Jaksto g. 9, Vilnius; 2nd floor.</p>
      </li>
      <li>
        <p class="section-description"><b>15:00</b> {{t 'details.schedule2.part1'}} <a href="http://www.asklubas.lt/restaurant.html">Apvalaus stalo klubas</a> {{t 'details.schedule2.part2'}}</p>
      </li>
      <li>
        <p class="section-description"><b>17:30</b> {{t 'details.schedule3'}}</p>
      </li>
      <li>
        <p class="section-description"><b>18:30</b> {{t 'details.schedule4'}}</p>
      </li>
    </ul>
  </div>
</div>
