<div class="new-header">
  <div class="new-header-slide">
    <h2 class="new-header-title">
      <span class="letter1">S</span>
      <span class="letter2">e</span>
      <span class="letter3">a</span>
      <span class="letter4">t</span>
      <span class="letter5">i</span>
      <span class="letter6">n</span>
      <span class="letter7">g</span>
      <span class="letter8">&nbsp;</span>
      <span class="letter9">P</span>
      <span class="letter10">l</span>
      <span class="letter11">a</span>
      <span class="letter12">n</span>
    </h2>
  </div>
  <div class="scroll-indicator fa fa-chevron-down"></div>
</div>

<div class="section section-medium">
  <div class="container">
    <h3 class="section-heading">
      <span>The long wait is over</span>
    </h3>

    <p class="section-description">Wedding is almost here, so we wanted to let you know where people will be seating</p>
  </div>
</div>

<div class="seating-plan">


  <div class="table">
    <h2 class="table-name">
      <img src="/img/tables/Mar del Plata.png" alt="mar del plata's table">
      <span>Mar del Plata</span>
    </h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Andres.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/German.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Ignacio.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Linas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Mociute.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Monika.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Patricia.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Snieguole.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Vaiva.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/mardelplata/Vytautas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>

    </div>
  </div>

  <div class="table">
    <h2 class="table-name">
      <img src="/img/tables/London.png" alt="london's table">
      <span>London</span>
    </h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/AgneJ.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/EmilijaK.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/EmilijaZ.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Gaile.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Ieva.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Indre.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Justina.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Karolis.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Matt.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/Piero.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/london/VaivaA.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>

    </div>
  </div>

  <div class="table">
    <h2 class="table-name">
      <img src="/img/tables/Tandil.png" alt="tandil's table">
      <span>Tandil</span>
    </h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Aleksandra.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/JuanS.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Lucho.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Ariel.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Ieva.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Ruslanas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/JuanR.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/VaivaS.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/tandil/Vaigirdas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>

    </div>
  </div>

  <div class="table">
    <h2 class="table-name">
      <img src="/img/tables/Amsterdam.png" alt="tandil's table">
      <span class="padded">Amsterdam</span>
    </h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/AgneK.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Auguste.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Daiva.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/gedas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/jolanta.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Kristupas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Luciana.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Lukas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Rolandas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Saulius.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/amsterdam/Tomas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>

    </div>
  </div>

  <div class="table">
    <h2 class="table-name">
      <img src="/img/tables/Vilnius.png" alt="tandil's table">
      <span>Vilnius</span>
    </h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Darius.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Kazimieras.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Kestutis.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Laima.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Mark.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Raminta.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Romualdas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Sandra.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Sonata.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Valdas.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest" style="background-image: url(/img/tables/vilnius/Viktorija.jpg)">
          {{#tooltip-on-element side='top'}}
            some text about me
          {{/tooltip-on-element}}
        </div>
      </div>

    </div>
  </div>

</div>

<div class="section section-medium">
  <div class="container">
    <h3 class="section-heading">
      <span>In case you forgot..</span>
    </h3>

    <p class="section-description">Heres the schedule for the day:</p>

    <ul>
      <li>
        <p class="section-description"><b>14:00</b> {{t 'details.schedule1'}} <a href="https://goo.gl/maps/Acat7qNcB9N2">Vaidilos Teatras</a>. A.Jaksto g. 9, Vilnius; 2nd floor.</p>
      </li>
      <li>
        <p class="section-description"><b>15:00</b> {{t 'details.schedule2.part1'}} <a href="http://www.asklubas.lt/restaurant.html">Apvalaus stalo klubas</a> {{t 'details.schedule2.part2'}}</p>
      </li>
      <li>
        <p class="section-description"><b>17:30</b> {{t 'details.schedule3'}}</p>
      </li>
      <li>
        <p class="section-description"><b>18:30</b> {{t 'details.schedule4'}}</p>
      </li>
    </ul>
  </div>
</div>
