<div class="new-header">
  <div class="new-header-slide">
    <h2 class="new-header-title">
      <span class="letter1">S</span>
      <span class="letter2">e</span>
      <span class="letter3">a</span>
      <span class="letter4">t</span>
      <span class="letter5">i</span>
      <span class="letter6">n</span>
      <span class="letter7">g</span>
      <span class="letter8">&nbsp;</span>
      <span class="letter9">P</span>
      <span class="letter10">l</span>
      <span class="letter11">a</span>
      <span class="letter12">n</span>
    </h2>
  </div>
  <div class="scroll-indicator fa fa-chevron-down"></div>
</div>

<div class="section section-medium">
  <div class="container">
    <h3 class="section-heading">
      <span>The long wait is over</span>
    </h3>

    <p class="section-description">Wedding is almost here, so we wanted to let you know where people will be seating</p>
  </div>
</div>

<div class="seating-plan">

  <div class="table">
    <h2 class="table-name">Mar del Plata</h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest">
          {{#tooltip-on-element side='top'}}
            Version 2.4.0 introduces lazy rendering. Tooltips and popovers generally don't need to be rendered until the user has interacted with the $target element. Adding enableLazyRendering=true to your component will enable this feature. In version 3.0.0 enableLazyRendering will default to true and you'll be able to opt-out of lazy rendering as necessary.
          {{/tooltip-on-element}}
        </div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>

    </div>
  </div>

  <div class="table">
    <h2 class="table-name">Vilnius</h2>

    <div class="table-chairs">
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>
      <div class="table-chair">
        <div class="table-guest"></div>
      </div>

    </div>
  </div>
</div>

<div class="section section-medium">
  <div class="container">
    <h3 class="section-heading">
      <span>In case you forgot..</span>
    </h3>

    <p class="section-description">Heres the schedule for the day:</p>

    <ul>
      <li>
        <p class="section-description"><b>14:00</b> {{t 'details.schedule1'}} <a href="https://goo.gl/maps/Acat7qNcB9N2">Vaidilos Teatras</a>. A.Jaksto g. 9, Vilnius; 2nd floor.</p>
      </li>
      <li>
        <p class="section-description"><b>15:00</b> {{t 'details.schedule2.part1'}} <a href="http://www.asklubas.lt/restaurant.html">Apvalaus stalo klubas</a> {{t 'details.schedule2.part2'}}</p>
      </li>
      <li>
        <p class="section-description"><b>17:30</b> {{t 'details.schedule3'}}</p>
      </li>
      <li>
        <p class="section-description"><b>18:30</b> {{t 'details.schedule4'}}</p>
      </li>
    </ul>
  </div>
</div>
